<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/accueil']">GiftDelivery</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <ng-container *ngIf="signup == true">
      <li><a [routerLink]="['/profil']">Mon profil</a></li>
      </ng-container>
      <li><a [routerLink]="['/panier']">Mon panier</a></li>
      <li><a [routerLink]="['/accueil']">A propos</a></li>
    </ul>

      <ul class="nav navbar-nav navbar-right">
        <ng-container *ngIf="signup == false">
        <li><a [routerLink]="['/connexion']">Se connecter</a></li>
        <li><a [routerLink]="['/inscription']">S'inscrire</a></li>
        </ng-container>
        <ng-container *ngIf="signup == true">
        <li *ngIf='username != ""'><a>{{this.username}}</a></li>
        <li (click)="disconnect()" style="cursor: pointer;"><a>Se déconnecter</a></li>
        </ng-container>
      </ul>

  </div><!-- /.container-fluid -->
</nav>
