<div class="navbar bg-info navbar-inverse">
  <div class="container">

    <a [routerLink]="['/accueil']" class="navbar-brand">GiftDelivery</a>
    <a class="nav-item nav-link">Mon profil</a>
    <a class="nav-item nav-link">Mon panier</a>
    <a class="nav-item nav-link">A propos</a>

    <button class="nav-button nav-item nav-link" [routerLink]="['/connection']">Se connecter</button>
    <button class="nav-button nav-item nav-link" [routerLink]="['/inscription']">S'inscrire</button>

  </div>
</div>
