<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/accueil']">GiftDelivery</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a [routerLink]="['/accueil']">Mon profil</a></li>
      <li><a [routerLink]="['/accueil']">Mon panier</a></li>
      <li><a [routerLink]="['/accueil']">A propos</a></li>
    </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/connexion']">Se connecter</a></li>
        <li><a [routerLink]="['/inscription']">S'inscrire</a></li>
        <li><a>Se déconnecter</a></li>
      </ul>

  </div><!-- /.container-fluid -->
</nav>
