<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" (ngSubmit)="signin()" #siginForm="ngForm">
			<h2>Inscription à GiftDelivery</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Prénom" tabindex="1" [(ngModel)]="firstname">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Nom" tabindex="2" [(ngModel)]="lastname">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Nom d'utilisateur" tabindex="3" [(ngModel)]="username">
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Adresse e-mail" tabindex="4" [(ngModel)]="email">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Mot de passe" tabindex="5" [(ngModel)]="password">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmer le mot de passe" tabindex="6" [(ngModel)]="confirmPassword">
					</div>
				</div>
			</div>

			<hr class="colorgraph">

      <p *ngIf="message != null" class="pErrorMessage">
        {{this.message}}
      </p>
			<div class="row">
				<div class="col-xs-12 col-md-12"><input type="submit" value="S'enregistrer" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>

      <hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-12" [routerLink]="['/connexion']"><input value="J'ai déjà un compte" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>

    <div class="col-xs-12">
      <img src="../assets/cadeaux.png" class="img-responsive"/>
    </div>

	</div>
</div>
</div>
