<app-layout></app-layout>
<div class="container">
    <div class="well well-sm">
        <strong>Produits</strong>
        <div class="btn-group">
            <a id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Vue liste</a> <a id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Vue Grille</a>
        </div>
    </div>
    <div id="products" class="row list-group" *ngIf="products != null">

        <div class="item  col-xs-4 col-lg-4" *ngFor="let product of products">
            <div class="thumbnail">
                <img class="group list-group-image" [src]=product.image alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{product.name}}</h4>
                    <p class="group inner list-group-item-text">
                        {{product.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{product.price}}$</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://i.pinimg.com/originals/a4/9b/c7/a49bc722099b1f05beafdf410919ec5e.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Bouquet de Tulipes</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $59.99</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://wallpapers4screen.com/Uploads/30-1-2016/24847/thumb-the-cubs-teddy-bears-bear-plush-toy.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Oursons en peluche</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $20.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://i.pinimg.com/originals/d0/75/77/d075771d6af48e598096cf7e7bc29ac1.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Assortiment de chocolat</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $25.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://i.pinimg.com/originals/ef/58/02/ef580210c6b16f664150c8a88f2632a4.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Boite de chocolat</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://www.ronanlucas-joaillier.fr/wp-content/uploads/2015/11/123-400x250.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Collier</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $70.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
